.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.loader-bar-background {
    width: 25%;
    height: 4px;
    background: #333;
    border-radius: 2px;
    overflow: hidden;
}

.loader-bar-fill {
    height: 100%;
    background: white;
    transition: width 0.1s linear;
}