.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    border-radius: 5px;
}

.th,
.td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    color: white;
}

.sortable {
    cursor: pointer;
}

.tr:nth-child(even) {
    background-color: #444;
}

.campaigns {
    margin-top: 50px;
}

.campaigns h2 {
    margin-bottom: 15px;
}

th {
    background: #222;
}