.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0f1117;
    border: 1px solid #222;
    list-style: none;
    margin: 0;
    width: 130px;
    z-index: 10;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-item {
    padding: 0;
    border-radius: 5px;
    transition: box-shadow 0.7s ease;
    margin-top: 5px;
    border: 1px solid #222;
    color: grey;
}

.dropdown-item:hover {
    background: #3858f7ff;
    transition: box-shadow 1.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.dropdown-item button {
    width: 100%;
    padding: 8px 12px;
    border: none;
    background: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-item.selected button {
    background-color: #3858f7ff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}