* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2a2a2a;
  padding: 35px;
}

button {
  border: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: white;
}