:root {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e0e0e0;
  background-color: #13151a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #13151a;
}

* {
  box-sizing: border-box;
}
