.timeline-container {
    display: block;
    width: 100% !important;
    overflow-x: auto;
}

.timeline-container.scrollable {
    overflow-x: auto;
}

.timeline-container:not(.scrollable) {
    overflow-x: hidden;
}

.svg-wrapper {
    width: 100%;
    min-width: 100%;
    display: block;
}

.chart-title {
    color: #ccc;
}

.metric-buttons button {
    margin-right: 5px;
}

.chart-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.chart-header button {
    color: #ccc;
}

.metric-buttons span {
    color: white;
    margin-right: 3.5px;
}