.timeline-container.scrollable {
    overflow-x: auto;
    width: 100%;
}

.svg-wrapper {
    display: block;
    min-width: 100%;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.chart-title {
    color: #ccc;
}

.metric-buttons button {
    margin-right: 5px;
    color: #ccc;
}