.timeline-container {
    width: 100%;
}

.scrollable {
    overflow-x: auto;
}

.svg-wrapper {
    overflow-x: auto;
    border: 2px solid #222;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}