.timeline-container {
    width: 100%;
}

.scrollable {
    overflow-x: auto;
}

.svg-wrapper {
    overflow-x: auto;
    border: 2px solid #222;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}